{% extends "base.twig" %}
{% block profile %} {{ user['nick_name']|e }} {% endblock %}
{% block user_id %}{{ user['id'] }}{% endblock %}
{% block content %}

<div class="row">
  <div class="col-md-4 panel">
    <div class="media">
      <div class="media-left"><img id="authorIdImage" class="img-rounded " width="50" height="50" src="/photo/{{ author.id }}"></div>
      <div class="media-body"> 
        <h3 id="auhtorNickName" class="media-heading">{{ author.nick_name|e }}</h3>
        <button type="button" class="btn btn-info btn-xs"><i class="glyphicon glyphicon-file"></i> <span id="authorPostCount" class="badge">{{ max_count }}</span></button>
      </div>
      {% if user.id == author.id %}
      <div class="media form-group">
        <form id="profileUpdateForm" action="/profileupdate/{{ user.id }}" method="GET">
          <input type="submit" class="btn btn-primary pull-right" value="編集" >
        </form>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="col-md-8 panel panel-primary">
    <ul class="list-group">
      {% for article in articles %}
      <li class="list-group-item">
      <article class="media">
        <div class="element_icon media-left" ><img class="img-rounded" width="40" height="40" src="/photo/{{ article.author_id }}"></div>
        <div class="element_body media-body" >
            <div class="element_user media-left">{{ article.author.nick_name }}</div>
            <div id="authorArticle{{ loop.index }}_updateString" class="element_datetime media-right">{{ article.updateString }}</div>
            <h2 class="element_title media-heading"><a id="authorArticle{{ loop.index }}_Link" href="/article/{{ article.id }}">{{ article.title }}</a></h2>
            <button type="button" class="btn btn-primary pull-right btn-xs "><i class="glyphicon glyphicon-thumbs-up"></i> <span id="authorArticle{{ loop.index }}_iineCount" class="badge">{{ article.iineCnt }}</span></button>
            <div class="element_tag media" >
              <div class="element_tag media-left" >
                {% for tagName in article.tagNames %}
                <a id="authorArticle{{ loop.parent.loop.index }}_tagIdLink{{ loop.index }}" href="/tag/{{ tagName.tagId }}" class="element_tag_base" >
	  	            <span id="authorArticle{{ loop.parent.loop.index }}_tagName{{ loop.index }}" class="element_tag_name label label-default" >{{ tagName.name }}</span>
                </a>
                {% endfor %}
              </div>
            </div>
        </div>
      </article>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="col-md-4 col-md-offset-4">
  <nav> 
    <ul class="pagination">
      {% if 1 < page %}
        <li><a id="pageBackLink" href="/member/{{ author.id }}?page={{page-1}}"><span>«</span></a></li>
      {% endif %}
      {% for p in 1..max_page %}
        {% if page == p %} 
          <li class="active"><a id="currentPageLink" href="/member/{{ author.id }}?page={{p}}">{{p}}</a></li>
        {% endif %}
      {% endfor %}
      {% if page < max_page %}
        <li><a id="pageNextLink" href="/member/{{ author.id }}?page={{page+1}}"><span>»</span></a></li>
      {% endif %}
    </ul>
  </nav>
</div>
<div class="col-md-4"></div>


{% endblock %}
