{% extends "base.twig" %}
{% block profile %} {{ user['nick_name']|e }} {% endblock %}
{% block user_id %}{{ user['id'] }}{% endblock %}
{% block write %} {% endblock %}
{% block content %}

<div class=" panel panel-default ">
  <form id="upadteArticleForm" action="/update/{{ article_id }}" method="POST">
    <div class="panel-body">
      <div class="alert alert-danger text-danger" id="update-message">{{ message }}</div>
      <div class="form-group">
        <input class="form-control form-control-lg" type="text" placeholder="タイトル" name="title" value="{{ title }}">
      </div>
      <div class="form-group">
        <input type="text" value="{{ tags }}" placeholder="タグをカンマ区切り" class="form-control" data-role="tagsinput" name="tags" />
      </div>
      <div class="form-group">
        <textarea class="form-control" id="articleTextArea" rows="33" placeholder="本文を入力" name="articleBody">{{ articleBody }}</textarea>
      </div>
      <input type="hidden" name="article_id" value="{{ article_id }}" >
      <input type="submit" class="btn btn-primary pull-right" value="更新" >
    </div>
  </form>
</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap-tagsinput.min.js"></script>

{% endblock %}
