<% const data = {new: 'active', profile: user['nick_name'], user_id: user['id']} %>
<%- include('header', {data: data}); %>

<div class="row">
    <div class="col-md-8 panel panel-primary">
        <ul class="list-group">
            <% for (let i = 0; i < articles.length; i++) { const article = articles[i]; %>
                <li class="list-group-item">
                    <article class="media">
                        <div class="element_icon media-left" ><a id="articleAuthorLink<%= i + 1 %>" href="/member/<%= article.author_id %>"><img id="articleAuthorImage<%= i + 1 %>" class="img-rounded" width="40" height="40" src="/photo/<%= article.author_id %>"></a></div>
                        <div class="element_body media-body" >
                            <div id="articleAuthorNickName<%= i + 1 %>" class="element_user media-left"><%= article.author.nick_name %></div>
                            <div id="articleUpdateString<%= i + 1 %>" class="element_datetime media-right"><%= article.updateString %></div>
                            <h2 class="element_title media-heading"><a id="articleLink<%= i + 1 %>" href="/article/<%= article.id %>"><%= article.title %></a></h2>
                            <button type="button" class="btn btn-primary pull-right btn-xs "><i class="glyphicon glyphicon-thumbs-up"></i> <span class="badge" id="articleIineCount<%= i + 1 %>" ><%= article.iineCnt %></span></button>
                            <div class="element_tag media" >
                                <div class="element_tag media-left" >
                                    <% for (let j = 0; j < article.tagNames.length; j++) { const tagName = article.tagNames[j]; %>
                                        <a id="article<%= i + 1 %>_TagId<%= j + 1 %>" href="/tag/<%= tagName.tagId %>" class="element_tag_base" >
                                            <span id="article<%= i + 1 %>_TagName<%= j + 1 %>" class="element_tag_name label label-default" ><%= tagName.name %></span>
                                        </a>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </article>
                </li>
            <% } %>
        </ul>
    </div>
    <div class="col-md-4">
        <div class=""><h4><i class="glyphicon glyphicon-flag"></i>人気の記事</h4>
            <ul class="list-group">
                <% for (let i = 0; i < popular_articles.length; i++) { const article = popular_articles[i]; %>
                    <li class="list-group-item">
                        <div class="media">
                            <div class="element_icon media-left" ><a href="/"><img class="img-rounded" width="20" height="20" src="/photo/<%= article.article.author_id %>"></a></div>
                            <div class="media-body">
                                <h4 class="media-heading"><a id="popularArticleLink<%= i + 1 %>" href="/article/<%= article.article.id %>"><%= article.article.title %></a></h4>
                                <div class="media">
                                    <span id="popularArticle<%= i + 1 %>_iineCount" class="badge"><%= article.iineCnt %></span>
                                    <% for (let j = 0; j < article.iine_users.length; j++) { const iine_user = article.iine_users[j]; %>
                                        <a id="popularArticle<%= i + 1 %>_iineUserId <%= j + 1 %>" href="/member/<%= iine_user.user_id %>"><img class="img-rounded" width="20" height="20" src="/photo/<%= iine_user.user_id %>"></a>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </li>
                <% } %>
            </ul>
        </div>
        <div class=""><h4><i class="glyphicon glyphicon-user"></i> メンバー</h4>
            <% for (let i = 0; i < online_users.length; i++) { const user = online_users[i]; %>
            <a id="onLineUserLink<%= i + 1 %>" href="/member/<%= user %>"><img class="img-rounded" width="30" height="30" style="margin: 1px;" src="/photo/<%= user %>"></a>
            <% } %>
            <div class=""><a href="/members">»メンバー一覧</a></div>
        </div>
    </div>
</div>

<div class="col-md-4"></div>
<div class="col-md-4">
    <nav>
        <ul class="pagination">
            <% if (1 < page) { %>
                <li><a id="pageBackLink" href="/?page=<%= page - 1 %>"><span>«</span></a></li>
            <% } %>
            <% for (let p = 1; p <= max_page; p++) { %>
                <% if (page === p) { %>
                    <li class="active"><a id="currentPageLink" href="/?page=<%= p %>"><%= p %></a></li>
                <% } %>
            <% } %>
            <% if (page < max_page) { %>
                <li><a id="pageNextLink" href="/?page=<%= page + 1 %>"><span>»</span></a></li>
            <% } %>
        </ul>
    </nav>
</div>
<div class="col-md-4"></div>

<%- include('footer'); %>
