<% const data = {profile: user['nick_name'], user_id: user['id']} %>
<%- include('header', {data: data}); %>

<div class="row">
    <div class="col-md-12 panel panel-primary">
        <ul class="list-group">
            <% for (let i = 0; i < tag_articles.length; i++) { const article = tag_articles[i]; %>
                <li class="list-group-item">
                    <article class="media">
                        <div class="element_icon media-left" ><img id="artcileAuhtorLinke<%= i + 1 %>" class="img-rounded" width="40" height="40" src="/photo/<%= article.article.author_id %>"></div>
                        <div class="element_body media-body" >
                            <div id="articleAuthorNickName<%= i + 1 %>" class="element_user media-left"><%= article.author.nick_name %></div>
                            <div class="element_datetime media-right"><%= article.updateString %></div>
                            <h2 class="element_title media-heading"><a id="artcileTitleLink<%= i + 1 %>" href="/article/<%= article.article.id %>"><%= article.article.title %></a></h2>
                            <button type="button" class="btn btn-primary pull-right btn-xs "><i class="glyphicon glyphicon-thumbs-up"></i> <span id="articleIineCount<%= i + 1 %>" class="badge"><%= article.iineCnt %></span></button>
                            <div class="element_tag media" >
                                <div class="element_tag media-left" >
                                    <% for (let j = 0; j < article.tagNames.length; j++) { const tagName =  article.tagNames[j]; %>
                                        <a id="article<%= i + 1 %>_tagId<%= j + 1 %>" href="/tag/<%= tagName.tagId %>" class="element_tag_base" >
                                            <span id="article<%= i + 1 %>_tagName<%= j + 1 %>" class="element_tag_name label label-default" ><%= tagName.name %></span>
                                        </a>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </article>
                </li>
            <% } %>
        </ul>
    </div>
</div>

<div class="col-md-4"></div>
<div class="col-md-4">
    <nav>
        <ul class="pagination">
            <% if (1 < page) { %>
                <li><a id="pageBackLink" href="/tag/<%= tag_id %>?page=<%= page - 1 %>"><span>«</span></a></li>
            <% } %>
            <% for (let p = 1; p <= max_page; p++) { %>
                <% if (page === p) { %>
                    <li class="active"><a id="currentPageLink" href="/tag/<%= tag_id %>?page=<%= p %>"><%= p %></a></li>
                <% } %>
            <% } %>
            <% if (page < max_page) { %>
                <li><a id="pageNextLink" href="/tag/<%= tag_id %>?page=<%= page + 1 %>"><span>»</span></a></li>
            <% } %>
        </ul>
    </nav>
</div>
<div class="col-md-4"></div>

<%- include('footer'); %>
