<% const data = {tags: 'active', profile: user['nick_name'], user_id: user['id']} %>
<%- include('header', {data: data}); %>

<div class="row">
    <div class="col-md-12 panel panel-primary">
        <div class=""><h4 id="tagCount" ><i class="glyphicon glyphicon-tags"></i> <%= max_count %>件のタグ</h4>
            <div class="list-group">
                <% for (let i = 0; i < tags.length; i++) { const tag = tags[i]; %>
                    <div class="list-group-item">
                        <a id="tagIdLinke<%= i + 1 %>" href="/tag/<%= tag.id %>"><i class="glyphicon glyphicon-tag"></i> <%= tag.tagname %></a>
                        <button type="button" class="pull-right btn btn-info btn-xs"><i class="glyphicon glyphicon-file"></i> <span id="tagCount<%= i + 1 %>" class="badge"><%= tag.tagCnt %></span></button>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</div>

<div class="col-md-4"></div>
<div class="col-md-4">
    <nav>
        <ul class="pagination">
            <% if (1 < page) { %>
                <li><a id="pageBackLink" href="/tags?page=<%= page - 1 %>"><span>«</span></a></li>
            <% } %>
            <% for (let p = 1; p <= max_page; p++) { %>
                <% if (page === p) { %>
                    <li class="active"><a id="currentPageLink" href="/tags?page=<%= p %>"><%= p %></a></li>
                <% } %>
            <% } %>
            <% if (page < max_page) { %>
                <li><a id="pageNextLink" href="/tags?page=<%= page + 1 %>"><span>»</span></a></li>
            <% } %>
        </ul>
    </nav>
</div>
<div class="col-md-4"></div>


<%- include('footer'); %>
